@{
    ViewBag.Title = "Dashboard";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="position: fixed; width: 100%;height:100vh;float:right; float:left; left:0; right:0; background-color:lightgray; margin-left:auto; margin-right:auto">

        <div style="position: fixed; width: 20%;height:100%; background-color:#99ffff; text-align:center; color:black; font-size:33px; padding-top:10px">
            My Projects
            <div>
                <button>Add Project</button>
            </div>
        </div>


        <div style="position: fixed; width: 78%;height:90%; background-color:rgba(255, 255, 255,0); left: 21%; top: 8%; right:1%">

            <div style="position: relative; width: 100%;height:48.5%; background-color:aliceblue; left: 0%; top: 0%; right:0%; border:solid; border-width:1px; border-color:gray; border-radius:25px">
                <div style="position:absolute;width:100%;top:0; background-color: black; height:16%; border-top-left-radius:25px; border-top-right-radius:25px">
                    <h1 style="color:greenyellow; text-align:center; font-size:30px">GAPT Tasks</h1>
                </div>

                <hr />
                <br /><br />


                <div style="position:absolute;width:100%;bottom:0; background-color: black; height:16%; border-bottom-left-radius:25px; border-bottom-right-radius:25px; text-align:right">
                    <button style="height:100%; border-bottom-right-radius:25px; background-color:aliceblue;background-image:url(https://cdn.xl.thumbs.canstockphoto.com.mx/positivo-s%C3%ADmbolo-m%C3%A1s-signo-gris-oscuro-icono-en-transparente-fondo-clip-art-vectorial_csp38158169.jpg); border-top-color:aliceblue">Add Task</button>
                </div>

                </div>
                <div style="position: relative; width: 100%;height:48.5%; background-color:aliceblue; top: 3%; bottom: 0%; right:0%; text-align: left; color:black; font-size:33px; border:solid; border-width:1px; border-color:gray">
                    Stats

                </div>
            </div>

    </div>
</body>
</html>
