@{
    ViewBag.Title = "Welcome to Code Empire";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

<body id="home">
    <div style="height: 140vh; padding-top:0px">


        <div class="slides" id="mycarousel" data-ride="carousel" data-interval="5000" data-wrap="true">

            <ol class="carousel-indicators">
                <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                <li data-target="#mycarousel" data-slide-to="1"></li>
                <li data-target="#mycarousel" data-slide-to="2"></li>
            </ol>


            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <img src="~/Pictures/fullimage5.jpg" style="height: 100vh; width: 100%" class="img-responsive" />
                    <div class="carousel-caption">
                        <p>&#8476;</p>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Pictures/201711041214301.jpg" style="height: 100vh; width: 100%" />
                    <div class="carousel-caption">

                    </div>
                </div>

                <div class="item">
                    <img src="~/Pictures/Fotolia_37983617_XL.jpg" style="height: 100vh; width: 100%" />
                    <div class="carousel-caption">
                        <h1 style=" color:black; font-family: Consolas; font-size: 60px;">Make new coding buddies</h1>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="opacity:0"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="opacity:0"></span>
                <span class="sr-only">Next</span>
            </a>



            <div style="width:100%; height:500px;background-color: white; position:relative;  left:0; margin-left:auto; margin-right:auto; background-image:url(https://www.planwallpaper.com/static/images/City_Landscape_Background.jpg);background-repeat:no-repeat;background-size:100%;background-position-y:bottom; padding-top:100px;opacity:0.8 ">
                <p style="font-family:'Niagara Engraved'; font-size: 200px; color:gold; text-align:center">codE/|/|)IRE</p>
            </div>
        </div>
    </div>
</body>
</html>

